extends layout

block head
  include ../../fileupload
  include ../../kindeditor

block main
  .panel.panel-default
    .panel-heading
      h3.panel-title 新建产品
    .panel-body
      form.form-horizontal(id="new_goods" action="/admin/goods/create" method="post")
        .form-group
          label.col-sm-2.control-label(for="image_url") 图片
          .col-sm-3
            span#image-show
              img(data-src="holder.js/200x200/text:尺寸:800X800" src="data:image/png;base64," class="img-thumbnail img-responsive")
            input(type="hidden" id="image_url" name="image_url")
          .col-sm-7
            span.fileinput-button.btn.btn-primary
              i.glyphicon.glyphicon-upload
              |文件上传
              input(type="file" name="imgFile" class="attachment-file" data-upload-url="/upload/attachment" multiple)
            br
            br  
            .progress.hide#progress
              .progress-bar.progress-bar-primary
            .alert.alert-danger.alert-dismissable.hide#error_message
              strong
        .form-group
          label.col-sm-2.control-label(for="brand_id") 品牌
          .col-sm-10
            select.form-control(id="brand_id" name="brand_id")
              - each item in brand_list                 
                option(value="#{item._id}")= item.name
        - each tag in settings.goods.tag
          .form-group
            label.col-sm-2.control-label(for="brand_id") #{tag.v}
            .col-sm-10
              - each t in tag.tags
                lable.radio-inline                  
                  input(type="radio" name="tags" value="#{tag.k}-#{t.k}")
                  |#{t.v}                  
        .form-group
          label.col-sm-2.control-label(for="name") 名称
          .col-sm-10
            input.form-control(type="text" id="name" name="name" placeholder="请输入名称")
        .form-group
          label.col-sm-2.control-label(for="desc") 产品描述
          .col-sm-10
            textarea.form-control(rows="5" id="desc" name="desc" style="height:100px;" placeholder="请输入描述")
        .form-group
          label.col-sm-2.control-label(for="content") 内容
          .col-sm-10
            textarea.form-control(rows="5" id="content" name="content" style="height:300px;" placeholder="请输入内容")
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") 保存
block pjs
  script.
    $(function () {
      'use strict';
      var $upload_button = $('.fileinput-button > input.attachment-file'),
          $form = $('#new_goods'),
          $progress = $form.find('#progress'),          
          $error_message = $form.find('#error_message');

      $upload_button.fileupload({
          url: $upload_button.data('upload-url'),
          dataType: 'json',
          change: function (e, data) {
            $progress.removeClass('hide');
            $error_message.addClass('hide');
          },
          drop: function (e, data) {
            $progress.addClass('hide');
          },
          done: function (e, data) {
              $progress.addClass('hide');
              if(data.result.error === 0){
                $form.find('#image-show').html($('<img/>').attr('src', data.result.url).addClass('img-thumbnail img-responsive').css({'height': '200px','width': '200px'}));
                $form.find('#image_url').val(data.result.url);
              }else{
                $error_message.removeClass('hide').find('strong').html(data.result.message);
              }              
          },
          progressall: function (e, data) {
              var progress = parseInt(data.loaded / data.total * 100, 10);              
              $form.find('#progress .progress-bar').css('width', progress + '%');
          }
      }).prop('disabled', !$.support.fileInput)
          .parent().addClass($.support.fileInput ? undefined : 'disabled');
      var editor = $('textarea[name="content"]').editor();    
    });