extends layout
include mixins/focus

block content
  .row
    .col-sm-3
      .panel.panel-default
        .panel-heading
          i.fa.fa-volume-up.margin-right-sm.text-red 
          |最新动态
          .pull-right
            |更多
        .panel-body
          ul.list-unstyled
            - each art in news
              li
                i.fa.fa-caret-right.margin-right-sm
                a(href="/article/#{art._id}") #{text_cut(art.title, 14)} 
    .col-sm-9
      +carousel(advs)     
  .panel.panel-default.clearfix
    .panel-heading 
      |特价商品
      .pull-right
        |更多
    .panel-body
      .row
        .col-sm-3
          .thumbnail
            img(data-src="holder.js/300x200")
            .caption
              h3 标题
        .col-sm-3
          .thumbnail
            img(data-src="holder.js/300x200")
            .caption
              h3 标题
        .col-sm-3
          .thumbnail
            img(data-src="holder.js/300x200")
            .caption
              h3 标题
        .col-sm-3
          .thumbnail
            img(data-src="holder.js/300x200")
            .caption
              h3 标题            
  .panel.panel-default.clearfix
    .panel-heading 
      |新品上市
      .pull-right
        |更多
    .panel-body
      - each product in new_products
        .col-sm-3(style="margin-bottom: 18px;")
          .thumbnail
            img(src='#{product.image_url}')
            .caption
              h5
                a(href="/article/#{product._id}") #{product.title}    
  .panel.panel-default.clearfix
    .panel-heading 
      |热销推荐
      .pull-right
        |更多
    .panel-body
      - each product in hot_products
        .col-sm-3(style="margin-bottom: 18px;")
          .thumbnail            
            img(src='#{product.image_url}')
            .caption
              h5
                a(href="/article/#{product._id}") #{product.title}            