extends layout

block main
  .panel.panel-default
    .panel-heading
      h3.panel-title 编辑导航
    .panel-body
      form.form-horizontal(id="new_menu" action="/admin/menu/update" method="post")
        input(type="hidden" name="menu_id" value="#{menu._id}")
        .form-group
          label.col-sm-2.control-label(for="name") 名称
          .col-sm-10
            input.form-control(type="text" id="name" name="name" value="#{menu.name}" placeholder="请输入名称")
        .form-group
          label.col-sm-2.control-label(for="link") 链接
          .col-sm-10
            input.form-control(type="text" id="link" name="link" value="#{menu.link}" placeholder="请输入链接") 
        .form-group
          label.col-sm-2.control-label(for="position") 位置
          .col-sm-10
            select.form-control(id="position" name="position")
              - each m in [{key: 'top', value: '头部导航'}, {key: 'foot', value: '页脚导航'}]
                - if (menu.position == m.key)
                  option(value="#{m.key}" selected)= m.value
                - else  
                  option(value="#{m.key}")= m.value  
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") 保存            