extends layout

block head
  include ../../fileupload

block main
  .panel.panel-default
    .panel-heading
      h3.panel-title 编辑品牌
    .panel-body
      form.form-horizontal(id="edit_brand" action="/admin/brand/update" method="post")
        input(type="hidden" name="brand_id" value="#{brand._id}")
        .form-group
          label.col-sm-2.control-label(for="image_url") 图片
          .col-sm-3
            span#image-show
              - if(brand.image_url != '')
                img(src="#{brand.image_url}" class="img-thumbnail img-responsive")
              -else
                img(data-src="holder.js/210x70" src="data:image/png;base64," class="img-thumbnail img-responsive")
            input(type="hidden" id="image_url" name="image_url" value="#{brand.image_url}")
          .col-sm-7
            span.fileinput-button.btn.btn-primary
              i.glyphicon.glyphicon-upload
              |文件上传
              input(type="file" name="imgFile" class="attachment-file" data-upload-url="/upload/attachment" multiple)
            br
            br  
            .progress.hide#progress
              .progress-bar.progress-bar-primary
            .alert.alert-danger.alert-dismissable.hide#error_message
              strong
        .form-group
          label.col-sm-2.control-label(for="name") 名称
          .col-sm-10
            input.form-control(type="text" id="name" name="name" value="#{brand.name}" placeholder="请输入名称")  
        .form-group
          label.col-sm-2.control-label(for="desc") 描述
          .col-sm-10
            textarea.form-control(rows="5" id="desc" name="desc" style="height:100px;" placeholder="请输入描述")= brand.desc
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-default(type="submit") 保存
block pjs
  script.
    $(function () {
      'use strict';
      var $upload_button = $('.fileinput-button > input.attachment-file'),
          $form = $('#edit_brand'),
          $progress = $form.find('#progress'),          
          $error_message = $form.find('#error_message');

      $upload_button.fileupload({
          url: $upload_button.data('upload-url'),
          dataType: 'json',
          change: function (e, data) {
            $progress.removeClass('hide');
            $error_message.addClass('hide');
          },
          drop: function (e, data) {
            $progress.addClass('hide');
          },
          done: function (e, data) {
              $progress.addClass('hide');
              if(data.result.error === 0){
                $form.find('#image-show').html($('<img/>').attr('src', data.result.url).addClass('img-thumbnail img-responsive').css({'width': '210px', 'height': '70px'}));
                $form.find('#image_url').val(data.result.url);
              }else{
                $error_message.removeClass('hide').find('strong').html(data.result.message);
              }              
          },
          progressall: function (e, data) {
              var progress = parseInt(data.loaded / data.total * 100, 10);              
              $form.find('#progress .progress-bar').css('width', progress + '%');
          }
      }).prop('disabled', !$.support.fileInput)
          .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });