mixin carousel(advs)
  .carousel.slide#home-carousel(data-ride="carousel")
    ol.carousel-indicators
      - advs.forEach(function(ad, idx){
        li(data-target="#home-carousel" data-slide-to="#{idx}" class="#{idx == 0 ? 'active': ''}")
      - })  
    .carousel-inner
      - advs.forEach(function(ad, idx){     
        .item(class="#{idx == 0 ? 'active': ''}")
          a(href="#{ad.link}") 
            img.img-responsive(src="#{ad.image_url}" style="width: 850; height: 280px;")
          div.carousel-caption
            - if (ad.title != '')
              h3
                a(href="#{ad.link}")
                  = ad.title
            - if (ad.desc != '')
              p= ad.desc 
      - })          
    a.left.carousel-control(href="#home-carousel" data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="#home-carousel" data-slide="next")
      span.glyphicon.glyphicon-chevron-right